body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4f46e5, #6d28d9, #9333ea);
    font-family: "Poppins", sans-serif;
    color: white;
}

.container {
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    animation: fade 0.5s ease;
}

@keyframes fade {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.input-group {
    margin-bottom: 12px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 15px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background: white;
    color: #4f46e5;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background: #e0e0ff;
    transform: translateY(-2px);
}

#resultado {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #ffecec;
}
